<%= @user.email %>
<%= @user.username %>
<%= @user.first_name %>
<%= @user.last_name %>
<%= @user.cpf %>
<br>
<ul>
  Suas Ordens de Compra:
  <% @user.orders.each do |o| %>
    <li>
      <%= link_to o do %>

        Quantidade: $<%= o.amount %> | Agil: | Total <%= o.amount  %></li>
      <% end %>
  <% end %>
</ul>
<ul>
  Suas Ordens de Venda:
  <% @user.posts.each do |post| %>
    <%= link_to post do %>

      <%= post.amount %> de <%= post.currency.name %>

    <% end %>



    <% post.orders.each do |post_order| %>
    <li>
      <%= link_to post_order do %>
        Quantidade: $<%= post_order.amount %> </li>
      <% end %>
    <% end %>
  <% end %>
</ul>
