<h1 id="nome-usuario">Usuário: <%= @user.username %></h1>
<div class="row">
  <div class="col-xs-12 col-lg-7">

    <h3>Informações gerais</h3>
    <div class="table-responsive">
      <table class="table table-striped">
        <tbody>
          <tr>
            <th scope="row">Conta criada em:</th>
            <td>20/10/2016</td>
          </tr>
          <tr>
            <th scope="row">Transações concluídas:</th>
            <td>117</td>
          </tr>
          <tr>
          <th scope="row">Chave pública:</th>
            <td><%= @user.public_key %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-xs-12 col-lg-5">
    <h3>Reputação</h3>
    <div class="reputacao-info">
      <h4 class='reputation1'><i class="far fa-thumbs-up fa-2x"></i> Avaliações positivas: 32</h4>
      <h4 class='reputation2'><i class="fas fa-ban fa-2x"></i> Bloqueado por: 2</h4>
    </div>
  </div>
</div>
<div class='row'>
  <div class="col-sm-12">
    <h3>Minhas ofertas</h3>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Criptomoeda</th>
            <th scope="col">Quantidade</th>
            <th scope="col">Preço</th>
            <th scope="col">Cotação (Mercado)</th>
            <th scope="col">Cotação (Vendedor)</th>
            <th scope="col">Ágio</th>
          </tr>
        </thead>
          <% @user.posts.each_with_index do |post, index| %>
          <tbody>
            <tr>
              <th scope="row"><%= index + 1 %></th>
              <td><%= post.currency.name %></td>
              <td><%= post.amount %></td>
              <td><%= post.price %></td>
              <td><%= post.currency.exchange_rate %></td>
              <td><%= post.price / post.amount %></td>
              <td><%= (post.price / post.amount - post.currency.exchange_rate) / post.currency.exchange_rate %></td>
            </tr>
          <%end%>
        </tbody>
      </table>
    </div>
  </div>
</div>

<% if policy(current_user).view?(current_user, @user) %>

  <div class='row'>
    <div class="col-sm-12">
      <h3>Minhas Vendas</h3>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Criptomoeda</th>
              <th scope="col">Quantidade</th>
              <th scope="col">Preço</th>
              <th scope="col">Cotação</th>
              <th scope="col">Status</th>
              <th scope="col">Ver</th>
            </tr>
          </thead>
            <% @user.posts.each_with_index do |post, index| %>
              <% post.orders.each_with_index do |order, index_order| %>
              <tbody>
                <tr>
                  <th scope="row"><%= index + index_order + 1 %></th>
                  <td><%= order.post.currency.name %></td>
                  <td><%= order.amount %></td>
                  <td><%= order.post.price %></td>
                  <td><%= order.post.price / order.amount %></td>
                  <td><%= order.status %></td>
                  <td><%= link_to 'Ver', order %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class="col-sm-12">
      <h3>Minhas Compras</h3>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Criptomoeda</th>
              <th scope="col">Quantidade</th>
              <th scope="col">Preço</th>
              <th scope="col">Cotação</th>
              <th scope="col">Status</th>
              <th scope="col">Ver</th>
            </tr>
          </thead>
            <% @user.orders.each_with_index do |order, index| %>
            <tbody>
              <tr>
                <th scope="row"><%= index + 1 %></th>
                <td><%= order.post.currency.name %></td>
                <td><%= order.amount %></td>
                <td><%= order.post.price %></td>
                <td><%= order.post.price / order.amount %></td>
                <td><%= order.status %></td>
                <td><%= link_to 'Ver', order %></td>
              </tr>
            <%end%>
          </tbody>
        </table>
      </div>
    </div>
  </div>

<% end %>
