<%= @user.email %>
<%= @user.username %>
<%= @user.first_name %>
<%= @user.last_name %>
<%= @user.cpf %>
<br>
<ul>
  <% @user.orders.each do |o| %>
    <li>
      <%= link_to o do %>
        Quantidade: $<%= o.amount %> | Agil: <%= o.post.ease %>% | Total <%= o.amount * (100 + o.post.ease) / 100.0  %></li>
      <% end %>
  <% end %>
</ul>
