<h1>Orders#show</h1>
<p>Find me in app/views/orders/show.html.erb</p>
<ul>
  <li><%= @order.amount %></li>
  <li><%= @order.post.ease %></li>
  <li><%= @order.amount %></li>
  <li><%= @order.amount %></li>
  <li><%= @order.amount %></li>
</ul>
