
<div class="banner">
  <div class="banner-content">
    <h1>Bem-vindo ao Cryptomarket P2P!</h1>
    <p>Negocie criptomoedas de forma <span class="orange-text">rápida</span>,<span class="orange-text"> prática</span> <span>e </span><span class="orange-text">segura</span>.</p>
    <a class="btn-banner" id="btn-comprar">Comprar</a>
    <a class="btn-banner" id="btn-vender">Vender</a>
  </div>
</div>

<div class="graphique-container">
<div class="graphique">
<%= image_tag "graphique0.png", alt: "graphique", width: 300 %>
</div>
<div class="graphique">
<%= image_tag "graphique2.png", alt: "graphique", width: 300 %>
</div>
<div class="graphique">
<%= image_tag "graphique3.png", alt: "graphique", width: 300 %>
</div>
<div class="graphique">
<%= image_tag "graphique4.png", alt: "graphique", width: 300 %>
</div>
<div class="graphique">
<%= image_tag "graphique1.png", alt: "graphique", width: 300 %>
</div>
</div>

<div class="grid-top-last">

	<div class="cells-one"><div class="fire"><%= image_tag "fire-logo.png", alt: "fire", width: 65 %></i> ÚLTIMOS ANÚNCIOS</div></div>
	<div class="cells-two"><div class="fire"><%= image_tag "star-logo.png", alt: "star", width: 65 %></i> TOP VENDEDORES</div></div>
	<div class="cells">One top</div>
	<div class="cells">One last</div>
	<div class="cells">Two top</div>
	<div class="cells">Two last</div>
	<div class="cells">Three top</div>
	<div class="cells">Three last</div>
	<div class="cells">Four top</div>
	<div class="cells">Four last</div>
	<div class="cells">Five top</div>
	<div class="cells">Five last</div>

</div>
