
<div class="banner">
  <div class="banner-content">
    <h1>Bem-vindo ao Cryptomarket P2P!</h1>
    <p>Negocie criptomoedas de forma <span class="orange-text">rápida</span>,<span class="orange-text"> prática</span> <span>e </span><span class="orange-text">segura</span>.</p>
    <%= link_to "Comprar", posts_path, class: "btn-banner", id: "btn-comprar" %>
    <%= link_to "Vender", new_post_path, class: "btn-banner", id: "btn-vender" %>
  </div>
</div>
<div class="container-fluid">
  <div class="row graphique-container">
    <div class="graphique">
    <%= image_tag "graphique0.png", alt: "graphique", width: 300 %>
    </div>
    <div class="graphique">
    <%= image_tag "graphique2.png", alt: "graphique", width: 300 %>
    </div>
    <div class="graphique">
    <%= image_tag "graphique3.png", alt: "graphique", width: 300 %>
    </div>
    <div class="graphique">
    <%= image_tag "graphique4.png", alt: "graphique", width: 300 %>
    </div>
    <div class="graphique">
    <%= image_tag "graphique1.png", alt: "graphique", width: 300 %>
    </div>
  </div>
</div>

<div class="grid-top-last">

  <h3 class="cells-one">ÚLTIMOS ANÚNCIOS</h3>

  <table class="table table-hover table-home">
    <tbody>
      <% @posts.each_with_index do |post, index| %>
        <tr>
          <th scope="row"><%= index + 1 %></th>
          <td><%= post.user.username %></td>
          <td><%= post.currency.name %></td>
          <td><%= post.amount %></td>
          <td><%= post.ease %>%</td>
          <td><%= link_to 'Comprar', post %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
