<h1>Here are the best Cryto's offers on Internet</h1>


<ol>
  <% @posts.each do |post| %>
    <%= link_to post do %>
      <li>
        <%= post.user.username %>
        <%= post.currency.coin %>
        <%= post.amount %>
        <%= post.ease %>
      </li>
    <% end %>
  <% end %>
</ol>

<%= link_to "new", new_post_path %>


<!-- <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">BuyOffer</th>
      <th scope="col">Seller</th>
      <th scope="col">Crypto</th>
      <th scope="col">Amount</th>
      <th scope="col">Ease</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Bitcoin</td>
      <td>R$ 1.500,00</td>
      <td>1%</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Ether</td>
      <td>R$ 5.800,00</td>
      <td>2%</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>Ripple</td>
      <td>R$ 500,00</td>
      <td>1.5%</td>
    </tr>
  </tbody>
</table>
 -->
