<h1>Ofertas:</h1>


  <ol>
    <% @posts.each do |post| %>
    <%= link_to post do %>
    <li>
      <%= post.user.username %>
      <%= post.currency.name %>
      <%= post.amount %>
      <%= post.ease %>
    </li>
    <% end %>
    <% end %>
  </ol>

  <%= link_to "new", new_post_path %>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col"></th>

      <th scope="col">Usuário</th>
      <th scope="col">Criptomoeda</th>
      <th scope="col">Quantidade</th>
      <th scope="col">Ágio</th>

    </tr>
  </thead>
  <tbody>
    <% @posts.each_with_index do |post, index| %>
      <tr>
        <th scope="row"><%= index + 1 %></th>
        <td><%= post.user.username %></td>
        <td><%= post.currency.name %></td>
        <td><%= post.amount %></td>
        <td><%= post.ease %>%</td>
        <td><%= link_to 'Comprar', post %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to new_post_path do %>
  <button type="button" class="btn btn-light">Criar oferta</button>
<%end%>

