<h1> Comprar oferta</h1>

<div class="row">
  <div class="col-xs-12 col-lg-6">
    <div class="show-part-container">
      <h2><%= link_to @post.user.username, user_path(@post.user) %></h2>
    </div>
  </div>
  <div class="col-xs-12 col-lg-6">
    <div class="show-part-container">
      <h2>Quant. Transacoes</h2>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="show-part-container">
      <h2>Oferta Acaba em:
        <% if policy(current_user).view?(current_user, @post.user) %>
          <div class="values"></div>
        <% else %>
          <div class="values2"></div>
        <% end %>
      </h2>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-lg-6">
    <div class="show-part-container">
      <h3>Detalhes</h3>
      <h5 class="text-left">Moeda: <%= @post.currency.name %></h5>
      <h5 class="text-left">Quantidade: <%= @post.amount %></h5>
      <h5 class="text-left">Preço Total: R$<%= @post.price %></h5>
      <h5 class="text-left">Cotação: $<span id="rate"><%= @post.price / @post.amount %></span> / 1</h5>
    </div>
  </div>
  <div class="col-xs-12 col-lg-6">
    <div class="show-part-container">
      <h3>Taxas do Mercado</h3>
      <h5 class="text-left">Moeda: <%= @post.currency.name %></h5>
      <h5 class="text-left">Ofertas Totais: 10</h5>
      <h5 class="text-left">Preço Pela Quantia: R$<%= @post.amount * @post.currency.exchange_rate %></h5>
      <h5 class="text-left">Cotação: $<span  id="market_rate"><%= @post.currency.exchange_rate %></span> / 1</h5>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="show-part-container">
      <div class="row">
        <div class="col-xs-12 col-lg-6">
          <% if policy(@post).update? %>
            <%= link_to "Update", edit_post_url %>
          <% else %>
            <%= render 'orders/form', order: @order, post: @post %>
          <% end %>
        </div>
        <div class="col-xs-12 col-lg-6">
          <div class="square">
            <% if policy(@post).update? %>
              <%= link_to "Delete", edit_post_url %>
            <% else %>
              <h2>Valor Total</h2>
              <h4>R$<span id="total_value"></span>0</h4>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

