
<h1><%= @post.currency.name %> (<%= link_to @post.user.username, @post.user %>)</h1>
  <span style="color: white;">Oferta: R$<%= @post.amount %></span>
  <span></span>

<% if policy(@post).destroy? %>
<%= link_to "Delete", @post,
method: :delete,
data: { confirm: "Are you sure?" } %>
<% end %>

<% if policy(@post).update? %>
  <%= link_to "Update", edit_post_url %>
<% else %>
  <%= render 'orders/form', order: @order, post: @post %>
<% end %>



